





.blockImage {
    position: relative;
    color: cornsilk;
     margin-top:0px; 
}
  
  
  
  #fbsection1 {
      
      display: block ;
      height:100% ;
      width : 100% ;
      background-image: url("img/Screenshot_1.png");
    font-family: 'Macondo', cursive;
    
  }
   

   .cbp-fbscroller section {
      position: relative;
      background-position:  center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
       margin-top: 35px; 
   
  }
     
  #prez {
  margin-top: 20px; 
    display: inline-block;
    font-style: italic;
  }
  
    
  
 .diplomes_formations {
   margin-bottom: 30px;
 }
 
 .foto {
   margin-right: 0%;
  
 }
 #titre1, #titre2, #titre3, #titre4, #titre5, #titre6, #titre7  {
   font-size: 1.6em;
  color: #000000;
  background: #FFFFFF;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  color: #000000;
  background: #FFFFFF;
 }

 #compétences {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
padding-top: 15px;
padding-bottom: 15px;

 }
 #diplomes_formations {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  padding-top: 15px;
  padding-bottom: 15px; 
  padding-right: 50px;  
 }
 #languesloisirs {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  padding-top: 15px;
  padding-bottom: 15px; 
 }
  


   /* Icone de la fleche remontante   */
.fa-arrow-circle-up {
  position: fixed;
  font-size: 60px !important;
  right: 30px;
  bottom: 110px;
  color: #00e5ff;
  z-index: 99999;
  cursor: pointer;
}